<!DOCTYPE html>
<html lang="ja">
	<head>

		<meta charset="utf-8">
		<meta name="author" content="Bloomer">
		<meta name="generator" content="">
		<meta name="description" content="">
		<meta name="keywords" content="クラウドファンディング, 募金箱, 資金調達">
		<meta name="application-name" content="">

        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="/javascripts/mr.bloomer.js"></script>
		<script src="/javascripts/mr.bloomer-1.js"></script>
		
		<title>MR.BLOOMER</title>
		<link rel="stylesheet" href="/stylesheets/style_mr.bloomer1.css" type="text/css"/>
		<style>
		</style>
	
	</head>


	<body>


		<article>

			<section id="home1">
			
				<h1>MR.<span id="colorful" style="color:#000000">BLOOMER</span>.JP</h1>
				
				<h2>世を人を自分を変える<br/>
				 新世代のお金の使い方を、さあ</h2>
				
				<h3><div id="back-to-account"style="float:none;"><a href="#4">
					<input type="submit"value="Get Started">
				</a></div></h3>
				
				<h4><%= link_to image_tag("mr.bloomer_slogan1_02.png",alt:"happiness",size:"1280x285") %>
				</h4>
								
			</section>

<header>
				<h1><%= link_to image_tag("bloomer_newlogo1_03.png", alt: "BLOOMER" ,size:"180x30")%>

            <nav>
					<ul>
						<li>
							<div id="back-to-top">
							<a href="#0"><%= link_to image_tag("bloomer_home1_03.png", alt: "home" ,size:"80x25") %>						　　　　
							</div>
						</li>
						<li>
							<div id="back-to-what" >
							<a href="#1"><%= link_to image_tag("bloomer_whatwedo1_11.png", alt: "what we do" ,size:"130x24") %></a>
						    </div>
						</li>
						<li>
							<div id="back-to-who" >
							<a href="#2"><%= link_to image_tag("bloomer_whoweare1_06.png", alt: "who we are" ,size:"130x23") %></a>
						    </div>
						</li>
						<li>
							<div id="back-to-contact" >
							<a href="#3"><%= link_to image_tag("bloomer_contact1_03.png", alt: "contact" ,size:"100x24") %></a>
						    </div>
						</li>
			       </ul>
			   </nav>

</header>

<section id="whatwedo1">

<h1><%= link_to image_tag("mr.bloomer_pic2_02.png", alt: "page1" ,size:"1280x730") %></h1>

</section>

<section id="whatwedo2">
	
	<h1><%= link_to image_tag("mr.bloomer_pic3_02.png", alt: "page2" ,size:"1280x730") %>
</h1>
	
</section>

<section id="whatwedo3">
	
	<h1><%= link_to image_tag("mr.bloomer_pic4_02.png", alt: "page3" ,size:"1280x730") %>
	
</section>

<section id="account">
	
	<h1>
		さあ、今すぐできる<br/>
		あなた自身の<span style="color:#fffa2e;font-family: 'Century Gothic', sans-serif;font-weight: normal">BLOOM</span>開始です。
		</h1>
	
	<div id="sns">
		<h2><span style="font-family: 'Century Gothic', sans-serif;font-weight: normal">Facebook/Twitter</span>ではじめる</h2>
		<p><%= link_to image_tag("bloomer_facebook.png", alt: "facebook",size:"420x90" )%>
		</p>
		<p><%= link_to image_tag("bloomer_twitter.png", alt: "twitter" ,size:"420x90") %>
        </p>
	</div>
	
	<div id="mail">
		
		<h2>メールアドレスではじめる</h2>
		
		
					<p id="form">
						メールアドレス
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="text"name="mail"size="40" required
						placeholder="Email"/>
					</p>
                    
                    <p id="form">
						ユーザーネーム
						&nbsp;&nbsp;
						<input type="text"name="namae"size="40" required
						placeholder="UserName"/>
					</p>

                    
					<p id="form">
						パスワード
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="password" size="40" required
						placeholder="Password(min 6 characters)"/>
					</p>
		
		            <p id="sakusei">
		            	<input type="submit"value="アカウントを作成する"/>
		            </p>
		
	</div>
	
</section>

<section id="whoweare">
	
	                <h1><span style="color:white;font-family: 'helvetica', sans-serif;font-weight:boldl; font-size: 78px">Bloomer </span>is a technology
					company based in Tokyo ♥
					</h1>
                    
					<p>
						Bloomer was foudned in the fall of 2013 by Kazuki Kawabata.
						<br/>
						The founding team also includes co-founder Mark Sato and Shunsuke Kai.
					</p>
	
	                <h2>Team</h2>
	                
	    <div id="team">
	                
	                <h3> KAZUKI KAWABATA </h3>
					<h4>
						Founder & CEO
					</h4>
					<h5>Boston Univ.</h5>
					<h3> MARK SATO </h3>
					<h4>
						Co-Founder & CTO
					</h4>
					<h5>Waseda Univ.</h5>
					<h3> SHUNSUKE KAI </h3>
					<h4>
						Co-Founder & CIO
					</h4>
					<h5>Tokyo Institute of Tech Univ.</h5>
					<h3> IZURU YOKOTSUKA </h3>
					<h4>
						System Engineer
					</h4>
					<h5>Tokyo Institute of Tech Univ.</h5>
					<h3> DAVID LIEBERMAN </h3>
					<h4>
						Member Experience
					</h4>
					<h5>Boston Univ.</h5>
					
	    </div>
					
	    <div id="members">
	    	     <h3><%= link_to image_tag("photo_kaz.png", alt: "kaz" ,size:"80x80") %>
				 </h3>
				 <h3><%= link_to image_tag("photo_mark.jpg", alt: "mark",size:"80x80" )%>				 </h3>
				 <h3><%= link_to image_tag("photo_kai.jpg", alt: "kai" ,size:"80x80") %>                     　				 </h3>
				 <h3><%= link_to image_tag("photo_izuru.jpg", alt: "izuru" ,size:"80x80") %>
				 </h3>
				 <h3><%= link_to image_tag("photo_david.jpg", alt: "david" ,size:"80x80")%>
			     </h3>
	    </div>
	
</section>

<section id="contact">
	<div id="please">
	<h1>Please feel free to contact us
					<br/>
					whether you’re interested in “bloomer”
					or
					<br/>
					you just want to say hello.</h1>
	</div>
	
	<address>
					<a href="mailto:hello@thebloomer.jp">hello@thebloomer.jp</a>
				</address>
	
</section>

<footer>
				<small>Copyright(C) Bloomer, All rights reserved.<a href="mailto:hello@thebloomer.jp">BLOOMER</a></small>
			</footer>

		</article>

<div id="pos" style="position:fixed; left:5px; bottom:5px">
    </div>
    

	</body>

</html>
